.header {
  animation: 3s infinite alternate bgchange;
  background-image: url(assets/stars.png), url(assets/Desktop_Backgrounds.png);
  background-size: 70%, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  height: 822px;
  width: 1315px;
  left: -116px;
  top: -22px;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

@keyframes bgchange {
  0% {
    background-size: 70%, cover;
    background-position: left, center; }
  100% {
    background-size: 50%, cover; } }

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem 15rem; }

.header__navigation {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  flex-direction: row;
  margin-bottom: 150;
  padding: 20px 20px; }
  .header__navigation .header__navigation li {
    margin-right: 150px 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold; }

.header__logo {
  display: flex;
  align-content: space-evenly;
  font-size: 1.5rem;
  text-decoration: none;
  justify-content: space-between;
  color: #fff;
  font-weight: bold;
  margin-right: 5px;
  margin-top: 30px;
  align-items: flex-start;
  padding-right: 250px; }

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.primary-headline {
  margin-bottom: 10px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #fff; }

.hero__text {
  margin-top: 10px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7); }

.hero__logo {
  position: center;
  margin-top: 15%;
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
  transform: translateZ(0px) rotateY(0deg); }

.hero__logo:hover {
  transform: translateZ(150px) rotateY(180deg) scale(1.2); }

/*  box 2 -block level container */
.box2 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 650px;
  width: 1315px;
  left: -116px;
  top: -22px;
  border-radius: 0px; }

/* main - main content block */
.main {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.main__second-headline {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #464547; }

.main__subheadline {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #666666; }

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: start;
  align-content: flex-start; }

.main-container--text1 {
  flex: 1;
  margin: 10px; }

.main-container--text2 {
  flex: 1;
  margin: 10px; }

.button {
  margin-bottom: 40%;
  font-family: "Oswald", sans-serif;
  display: inline-block;
  margin-top: 1rem;
  background-color: #55C2D8;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  letter-spacing: 0.2rem;
  border-radius: 20px;
  text-transform: uppercase;
  background: #55C2D8;
  border-radius: 18px;
  transform-origin: center;
  transition: 1s ease-in-out; }

.button:hover {
  transform: rotate(20deg); }

/* the third box */
.box3 {
  background-image: url(assets/learn-more.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 822px;
  width: 1315px;
  left: -116px;
  top: -22px;
  border-radius: 0px; }

.box3__headline {
  margin-top: auto;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #fff; }

.box3--play-button-outer {
  margin: 25% auto;
  width: 10em;
  height: 10em;
  background-color: turquoise;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s; }

.box3--play-button-outer:hover {
  background-color: #fff; }

.box3--play-button {
  margin: 0 auto;
  top: 25%;
  position: relative;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 2.5em 0 2.5em 5em;
  border-color: transparent transparent transparent #fff;
  opacity: 1.75;
  transition: border-color 0.3s; }

.box3--play-button-outer:hover
.box3--play-button {
  border-color: transparent transparent transparent #55C2D8;
  transform: translateZ(150px) scale(1); }

.box3--txt {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #fff; }

/* footer */
.footer-box4__text {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #fff; }

.footer-box4 {
  display: flex;
  width: 1253px;
  padding: 16px 32px;
  background-color: #464547;
  color: rgba(255, 255, 255, 0.4); }

.footer-box4--list {
  flex: 1;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  list-style: none; }

.footer-box4__logo {
  flex: 1; }
