.header {
    animation: 3s infinite alternate bgchange;
    background-image:url(assets/stars.png);
   }

   @keyframes bgchange {
    0% {
        
        
        background-size: 70%, cover;
     
        background-position:left, center;
    }
    
    100% {
      background-size:50%, cover;
      
    }
  }
  