
   
    
     .box2 {
    
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 400px; 
        display: flex;
        align-items: center;
        justify-content:center;
        height: 650px;
        width: 1315px;
        left: -116px;
        top: -22px;
        border-radius: 0px; 
        
       
      }
    /* main - main content block */
     .main {
      margin-top: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

    &__second-headline {
       
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
    
        text-align: center;
        color:$color-gray;
     }
        
    
    &__subheadline {
     
     font-family: 'Source Sans Pro';
     font-style: normal;
     font-weight: 400;
     font-size: 24px;
     line-height: 32px;
     text-align: center;
     color:$color-very-dark-gray;
    
    }

      }
    
     
    
    .main-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: start;
      align-content: flex-start;
      
      &--text1 {
        flex: 1 ;
        margin: 10px;
       
      }
      &--text2 {
        flex: 1 ;
        margin: 10px;
       
      }


    }
    