
      // button of box2
    
      .button {   
        margin-bottom: 40%;
        font-family: "Oswald", sans-serif;
        display: inline-block;
        margin-top: 1rem;
        background-color:$color-blue;
        color: $color-white;
        border: none;
        padding: 1rem 2rem;
        letter-spacing: 0.2rem;
        border-radius: 20px;
        text-transform: uppercase;
        background: $color-blue;
        border-radius: 18px;
       
        transform-origin: center;
        transition: 1s ease-in-out;
       
        }
       
        .button:hover {
        transform: rotate(20deg);
        
       }