
     
       .footer-box4 {
        display: flex;
        width: 1253px;
        padding: 16px 32px;
        background-color:$color-gray;
        color: rgba($color-light-gray,0.4);


        &__text {
    
          font-family: 'Source Sans Pro';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 16px;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          color: $color-white;
      
       }
  
      &--list {
        flex: 1;
        padding-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        list-style: none;
      
       }
      &__logo {
        flex: 1;
      }
      

       }
     
    
  
  