.header {
    
    background-image: url(assets/Desktop_Backgrounds.png);
    background-size: 70%, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    height: 822px;
    width: 1315px;
    left: -116px;
    top: -22px;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    &__container {
    
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 3rem 15rem;
    }
    
    &__navigation {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      flex-direction: row;
      margin-bottom: 150;
      padding: 20px 20px;
  
     &__navigation li {
        margin-right: 150px 20px;
        text-decoration: none;
        color:$color-white;
        font-weight: bold;

     }

    }
    
    &__logo {
      display: flex;
      align-content: space-evenly;
      font-size: 1.5rem;
      text-decoration: none;
      justify-content: space-between;
      color: $color-white;
      font-weight: bold;
      margin-right: 5px;
      margin-top: 30px;
      align-items: flex-start;
      padding-right: 250px;
    }
    

  }
  
  
 