
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

  &__text  {
      margin-top: 10px;
      font-family: 'Source Sans Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      color:rgba($color-white,0.7);
  
    } 
  
  &__logo {
      position: center;
      margin-top: 15%;
      transition: transform 1s ease-in-out;
      transform-style: preserve-3d;
      transform: translateZ(0px) 
      rotateY(0deg);
      
    }
    
  &__logo:hover{
      transform: translateZ(150px) 
      rotateY(180deg)
      scale(1.2);
    }


  }

  .primary-headline {
    margin-bottom: 10px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color:$color-white;
    
  }

