

@media (max-width: 480px) {
    html {
        font-size: 50%;
      }
      .header {
        animation: 3s infinite alternate bgchange;
        background-image: url(CSS/stars.png),
        url(CSS/Frame\ 24.png),
        url(CSS/Frame\ 5.png);
        background-size: 70%, cover;
       
        background-position: center, center;
        background-repeat: no-repeat, no-repeat;
        height: 822px;
        width: 445px;
        left: -116px;
        top: -22px;
        border-radius: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        
      }
  
  @keyframes bgchange {
    0% {
            
            
   background-size: 70%, cover;
         
   background-position:left, center;
        }
        
   100% {
          background-size:50%, cover;
          
        }
      }
      
      
     .hidden {
      display: none;
    }
    .header__burger-menu {
      width: 30px;
      height: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      margin-top: 1.2rem;
    }
    
      .header__navigation {
       display: none
            
        }
       .burger-menu--line {
         width: 100%;
         height: 3px;
         background-color: #fff;
        }
    
        .box2 {
  
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          display: flex;
          align-items: center;
          justify-content:center;
          height: 650px;
          width: 445px;
          left: -116px;
          top: -22px;
          border-radius: 0px; }
  
          .main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: start; 
            
          }
  
  
  .button {
  
  margin-bottom: 20px;
  font-family: "Oswald", sans-serif;
  display: inline-block;
  margin-top: -3px;
  background-color: #55c2d8;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  letter-spacing: 0.2rem;
  border-radius: 20px;
  text-transform: uppercase;
  background: #55C2D8;
  border-radius: 30px;
  
  transform-origin: center;
  transition: 1s ease-in-out;
  }
  
  
  .box3 {
      background-image: url(CSS/Learn-more.png);  
      
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 400px; 
      display: flex;
      align-items: center;
      justify-content:center;
      height: 822px;
      width: 450px;
      left: -116px;
      top: -22px;
      border-radius: 0px;
   
    }
  
   
   .footer-box4 {
    width: 388px;
  
   }
  
   footer {
  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  
   }
  
  
  }
  